<div style="display: flex; flex-direction: column;">

    <form (ngSubmit)="continue()" #forma='ngForm' style="display: grid; max-width: 50%;">
        <input type="text" #name="ngModel" [(ngModel)]="dataForm.name" placeholder="Nombre" name="name">
        <input type="text" #name="ngModel" [(ngModel)]="dataForm.lastName" placeholder="Apellido" name="lastName">
        <input type="number" #name="ngModel" [(ngModel)]="dataForm.age" placeholder="Edad" name="edad">
        <button type="submit">Continuar</button>
    </form>
</div>